page-successpage {

    .confirmation-msg {
        margin-top: 20px;
        .bigText {
            font-size: 1.5rem;
            line-height: 1.8rem;
            letter-spacing: 0.5px;
            color: #3C3C3C;
        }
    }

    .confirmBtn-wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 200px;
    }
}
